<div class="" *ngIf="type=='hairStyle'">
    <ul>
        <li class="title2">  !היי יקרה</li>
        <li class="words"> 
         התסרוקות שלנו יפות במיוחד <br>
         מחזיקות עד סוף האירוע כמו בתחילת האירוע <br>
         התסרוקות הכי עדכניות שעכשיו יצאו לאופנה <br>
         מכאן תצאי מושלמת לאירוע שלך ובידיוק בטעם שלך <br>
         מחכה לך בשמחות 
          </li> 
           <li class="words"><a class="nav-link black" ngClass="black"><img src="/assets/images/לוגו.png" height="50px" ></a></li>
       
       
   </ul>
    <div id="title">
        <h1>תמונות</h1>
    </div>
    <div class="op">
        <img  src="/assets/images/1.jpg" width="300" height="400">
        <h1 class="wordsImg"> פתוח מוברש</h1>
    </div>
    <div class="op">
        <img src="/assets/images/4.jpg" width="300" height="400">
        <h1 class="wordsImg"> פתוח מוברש</h1>
    </div>
    <div class="op">
        <img src="/assets/images/6.jpg" width="300" height="400">
        <h1 class="wordsImg"> פתוח מוברש מסורק</h1>
    </div>
    <div class="op">
        <img src="/assets/images/7.jpg" width="320" height="370">
        <h1 class="wordsImg"> קוקו מוברש מסורק</h1>
    </div>
    <div class="op">
        <img src="/assets/images/12.jpg" width="300" height="300">
        <h1 class="wordsImg"> קוקו מוברש מסורק</h1>
    </div>
    <div class="op">
        <img src="/assets/images/8.jpg" width="300" height="300">
        <h1 class="wordsImg"> קוקו מוברש חזק </h1>
    </div>
    <div class="op">
        <img src="/assets/images/10.jpg" width="300" height="300">
        <h1 class="wordsImg"> קוקו מוברש שובב </h1>
    </div>
    <div class="op">
        <img src="/assets/images/11.png" width="300" height="300">
        <h1 class="wordsImg"> קוקו מוברש</h1>
    </div>
    <div class="op">
        <img src="/assets/images/13.jpg" width="300" height="300">
        <h1> פתוח מוברש משולב עיצובים </h1>
    </div>

    <div class="op">

        <img src="/assets/images/14.jpg" width="300" height="300" class="aa">
        <h1> קוקו מוברש שובב עם עיצובים </h1>
    </div>
    <div class="op">
        <img src="/assets/images/netfry.png" width="300" height="300">
        <h1 class="wordsImg"> קוקו מוברש שובב </h1>
    </div>
    <div class="op">
        <img src="/assets/images/9.jpg" width="300" height="370">
        <h1 class="wordsImg"> קוקו מוברש שובב </h1>
    </div>
   
    <div class="op">
        <img src="/assets/images/netfry2.png" width="350" height="370">
        <h1 class="wordsImg">   אסוף בוגר </h1>
    </div>
    <!-- <div class="op">
        <img src="/assets/images/ברוק.JPG" width="400" height="270">
        <h1 class="wordsImg">    מוברש פתוח </h1>
    </div> -->
    <div class="op">
        <img src="/assets/images/43.JPG" width="400" height="370">
        <h1 class="wordsImg">    מוברש פתוח </h1>
    </div>
    <div class="op">
        <img src="/assets/images/5.jpg" width="400" height="400">
        <h1 class="wordsImg">    מוברש פתוח </h1>
    </div>
    <div class="op">
        <img src="/assets/images/40.jpg" width="400" height="400">
        <h1 class="wordsImg">    מוברש פתוח </h1>
    </div>
    <div class="op">
        <img src="/assets/images/41.jpg" width="400" height="400">
        <h1 class="wordsImg">    מוברש פתוח </h1>
    </div>

    <!-- <img src="/assets/images/החלקות.png" height="1000%" width="100%"> -->
</div>
<div *ngIf="type=='makeup'">
<ul>
     <li class="title2">  !היי יקרה</li>
     <li class="words"> 
        ביום האירוע שלך את רוצה שהכול יצא בדיוק כמו שדמיינת וחלמת. אחת הדרכים <br>
        הפשוטות לדאוג לזה היא להזמין איפור ושיער עד הבית, כך שהכול מתרחש בסביבה<br>
        הטבעית שלך. במאמר הבא נבחן מה המחירים של איפור ושיער לאירוע עד הבית, כמה<br>
        יעלה איפור ושיער לכלה ואפילו נצרף הצעות מחיר אמיתיות לצד המלצות על מאפרות<br>
        שמגיעות עד הבית. שיהיה במזל טוב :)   </li> 
        <li class="words"><a class="nav-link black" ngClass="black"><img src="/assets/images/לוגו.png" height="50px" ></a></li>
    
    
</ul>
<div class="op">
    <img src="/assets/images/20.png" width="400" height="460">
    <h1 class="wordsImg">   איפור עדין ואצילי </h1>
</div>
<div class="op">
    <img src="/assets/images/22.JPG" width="400" height="465">
    <h1 class="wordsImg">   איפור כלה </h1>
</div>
<div class="op" id="op">
    <img  class="befor" src="/assets/images/21.jpg" width="450" height="450">
   
   <ul>
    <li  class="li">  לפני </li>
       <Li   class="li2">ואחרי</Li>    
  
</ul>
</div>
    <img src="/assets/images/איפור.png" height="1000%" width="100%">
  
    
</div>
<div *ngIf="type=='fan'">
    <ul>
        <li class="title2">  !היי יקרה</li>
        <li class="words"> בסטודיו שלנו מסרקים פאות מהיום להיום <br>
        ויש אפשרות ללקיחת הפאה מבית הלקוחה לפני ואחרי <br>
             פה הסירוק מאוד איכותי מחזיק מעמד <br>
             יש אפשרות לסירוק הפאה לאירועים מיוחדים ועוד <br></li>
           <li class="words"><a class="nav-link black" ngClass="black"><img src="/assets/images/לוגו.png" height="50px" ></a></li>
       
       
   </ul>
    <div class="op">
        <img src="/assets/images/33.png" width="400" height="465">
        <h1 class="wordsImg">    סירוק אירועים
             </h1>
    </div>
    <div class="op">
        <img src="/assets/images/31.png" width="400" height="465">
        <h1 class="wordsImg">    סירוק לשבת </h1>
    </div>
    <div class="op" id="op">
        <img src="/assets/images/32.png" width="400" height="465">
        <h1 class="wordsImg">    סירוק לום יום </h1>
    </div>
  
        <!-- <img src="/assets/images/104.png" width="100%" height="800" > -->
       
   
 
 
    
</div>